#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-family: 'easvhs';
}

.with-margin {
    margin: 10px;
}

.big-font {
    font-size: 30px;
}

@font-face {
    font-family: 'easvhs';
    src: url('/easvhs.ttf');
}