<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid" style="background-color:#515C9F">
        <div >
            <ul class="navbar-nav me-auto mb-2 mb-md-0">

                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true" style="margin:0 5px 0 0"></span> Home
                    </NavLink>
                </li>

                @* <li class="nav-item">
                    <NavLink class="nav-link" href="duke3d">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Duke Nukem 3D
                    </NavLink>
                </li>

                <li class="nav-item">
                    <NavLink class="nav-link" href="about">
                        <span class="oi oi-question-mark" aria-hidden="true"></span> About
                    </NavLink>
                </li> *@

            </ul>
        </div>
    </div>
</nav>