@page "/about"

<PageTitle>About</PageTitle>

<div class="center">

    <h3>What is BuildLauncher</h3>

    <img src="/img/img1.png" style="width:100%; max-width:800px" />

    <br />
    <br />

    <div>
        <b>BuildLauncher</b> is a frontend for Build Engine games inspired by nstlaurent's DoomLauncher
        <br />
        It can download all major ports for Build Engine games, as well as mods, custom campaigns, and maps and launch them with the port of your choice.
        <br />
        Another goal of this project is to create a unification standard for Build Engine mods, campaigns, and map, so they can be launched with supported ports without any additional tweaking by users.
    </div>

    <br />
    <br />

    <h3>Supported games</h3>

    <img src="/img/img2.png" style="width:100%; max-width:800px" />

    <br />
    <br />

    <div>
        - Duke Nukem 3D (including Caribbean, Nuclear Winter, Duke it out in DC, World Tour and  Duke 64)
        <br />
        - Shadow Warrior (including Wanton Destruction and Twin Dragon)
        <br />
        - Blood (including Cryptic Passage)
        <br />
        - Redneck Rampage, Route 66 and Rides Again
        <br />
        - Ion Fury
        <br />
        - Powerslave
    </div>

    <br />
    <br />

    <h3>What it can do</h3>

    <img src="/img/img3.png" style="width:100%; max-width:800px" />

    <br />
    <br />

    <div>
        - Download and update all major source ports for Build Engine games
        <br />
        - Download custom maps, campaigns and mods for supported games
        <br />
        - Launch original games, their addons, and custom content with the port of your choice
        <br />
        - Create Would Tour Stopgap for EDuke32 automatically
        <br />
        - Load multiple autoload addons without manually editing .def files
        <br />
        - Turn autoload mods on and off
        <br />
        - Keep saved games for custom content in separate folders (only for Raze so far)
    </div>

</div>
