@page "/"

<PageTitle>BuildLauncher</PageTitle>

<div class="center">

    <img src="img/logo.png" style="width:100%; max-width:300px" />

    <br />
    <br />

    <h1>BuildLauncher</h1>

    <br />
    <br />

    <h4>Frontend for the Build Engine games and mods</h4>

    <br />

    <div>
        <a style="text-decoration:none" href="https://github.com/fgsfds/BuildLauncher/releases/latest" target="_blank">
            <h4>Download from GitHub</h4>
        </a>
    </div>

    <div>

        <br />
        <br />

        <a href="https://github.com/fgsfds/BuildLauncher" target="_blank">
            <img style="margin:5px" src="img/github.png" height="100" />
        </a>

        <a href="https://discord.gg/mWvKyxR4et" target="_blank">
            <img style="margin:5px" src="img/discord.png" height="100" />
        </a>

    </div>

</div>
